
body {
    margin: 0;
    padding: 0;
    }

@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes move2 {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(120%);
  }
}

#nyan {
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#nyan2 {
  animation-name: move2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#container {
    background-color: white;
    background-image: url(other/stars.gif), url(other/space.jpg);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


video {
    mix-blend-mode: multiply;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}

audio {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

#king {

    float:right;
    margin-top: 5rem;
}
